.rightBox{
    height: 100%;
}

.requestInput{
    width: 100%;
    padding: 4px 2px;
}

.label{
    width: 100px;
}

option{
    margin-bottom: 5px;
}

#filter{
    width: 100%;
    padding: 2px 12px;
}


.table {
    width: 100%;
    border-collapse: collapse;
}

.table td,
.table th {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 16px;
}

.table th {
    background-color: darkblue;
    color: #ffffff;
}

.table tbody tr:nth-child(even) {
    background-color: #f5f5f5;
}
